@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-size: center;
    position: relative;
    background-image: url(../images/image1.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.container{
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-size: center;
    position: relative;
}

.box{
    position: absolute;
    width: 60%;
    top: 10%;
    right : 20%;

}

.formbox{
    position: absolute;
    display: flex;
    width: 30%;
    height: 55%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    text-align: center;
}

.formbox h1{
    font-size: 2em;
    margin-bottom: 60px;
    color: #3c4035;
    position: relative;
}

.formbox h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c4035;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-group{
    height: 280px;
}


.input-field{
    background: #eaeaea;
    border-radius: 3px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}


input{
    width:100%;
    background:transparent;
    border: 0;
    outline: 0;
    padding: 10px 15px;
}

.input-field i {
    margin-left:15px;
    color:#999;
}

.signin{
    text-align: right;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.signin p{
    margin-right: 3px;
}

.signin button{
    background: #fff;
    border:0;
}

.signin button:hover{
    color: #787878;
}

.continue{
    font-size: 15px;
    margin-top: 10px;
    color: #bcbcbc;
}

.btn-field{
    width: 100%;
    justify-content: space-between;
}

.btn-field button{
    margin-top: 10px;
    background:#3c4035;
    color: #fff;
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.success-msg{
    display: none;
    animation-name: fade-in;
    animation-duration: 1s;
}

.success-img {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.message-box{
    position: absolute;
    display: flex;
    width: 60%;
    height: 55%;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;

    animation-name: fade-in;
    animation-duration: 1s;
}

.catalog{
    display: flex;
    position: absolute;
    width: 20%;
    height: 90%;
    right: 105%;
    top: 5%;
}

.message{
    right : 10%;
    top: 20%;
    position: absolute;
    text-align: left;
}


textarea{
    align-items: start;
    border-color: transparent;
    width: 100%;
    left: 10%;
    resize: none;
    text-align: left;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}

textarea :focus{
    border-color: transparent;
}

/* .message input  */
#form-submit
{
    position: relative;

}
#btn-submit-msg
{
    top: -35px;
    position: relative;
    left: 85%;
    background-color: #fff;
    border: none;
}

#namaMsg, #notelpMsg{
    z-index: -9999999;
}